.product-items {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.product-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 890px;
}
.tab-items {
  width: 300px;
  height: 620px;
  padding: 10px;
  background-color: #f0ffe5;
  position: relative;
  top: 0;
  left: 0;
}
.filter-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.sort-by-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 240px;
  font-weight: 500;
  color: grey;
}
.sort-options {
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: green;
  outline: none;
}
